*.o

coverage

/qname
/libtsdp.*

/t/contract/r/qname-base
/t/contract/r/qname-equiv
/t/contract/r/qname-match
/t/contract/r/qname-string
/t/contract/r/msg-in

/t/fuzz/r/qname
/t/fuzz/r/msg
/t/fuzz/findings

/lcov.info
*.gcda
*.gcno
